{% extends 'main.html' %}
{% load static %}
{% block includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/login.css' %}">
{% endblock includes %}

{% block content %}

<div id="login-bg-lines"></div>

<div id="content">
    <form id="login-form" action="" method="POST" autocomplete="off">
        {% csrf_token %}
        <img src="{% static 'profiles/img/cube-logo.svg' %}" alt="Colorful cube logo">
                    <h2 class="login-title">Log in</h2>
        
                    <div class="form-line">
                        {{form.username}}
                    </div>
                    <div class="form-line">
                        {{form.password}}
                    </div>
                    <div id="have-account-text" class="form-line">
                        <span><a href="{% url 'algs-main' %}?load_register=true">i don't have an account</a></span>
                    </div>
                    <div class="form-line" id="submit-line">
                        <button id="submit-button" type="submit">Start</button>
                    </div>
    </form>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'profiles/js/login-inputs.js' %}"></script>
{% endblock scripts %}



