{% extends 'main.html' %}
{% block content %}

<div class="login-register-content">
    <div class="form-container">
        <h2 class="login-register-title">Register</h2>
        <form action="" method="POST">
            <h2 class="login-register-title">Register</h2>
            {% csrf_token %}
            
            {{form}}

            <input type="submit" value="Register">
        </form>
    </div>
</div>

<script src="{% static 'profiles/js/form-classes.js' %}"></script>
{% endblock content %}