body{
    background: no-repeat 0% 0% / cover url("/static/algorithms/backgrounds/explore-bg-gradient.svg");
}

#explore-bg-lines{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    background: no-repeat 0% 0% / cover url("/static/backgrounds/bg-lines.svg");
}

#content{
    height: 100%;
    width: 100%;
    min-width: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    gap: 2.4%;


    color: var(--text1);
}

#explore-title{
    font-weight: 300;
    font-size: 3.2rem;
    width: 95%;
    text-align: left;
    letter-spacing: 0.4rem;
    margin-top: 0;
}

#explore-title span{
    opacity: 0.4;
    font-size: 0.9em;
}

.alg-card{
    position: relative;
    width: 95%; 
    height: 75%;
    padding: 0.8% 1.5%;
    background: linear-gradient(121deg, rgba(78,78,78,1) 0%, rgba(40,40,40,1) 25%, rgba(20,20,20,1) 54%, rgba(6,6,6,1) 75%);
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.alg-card::after{
    content: "";
    position: absolute;
    display: block;
    border-radius: 2rem;

    height: 101.3%;
    width: 100.35%;
    
    background: linear-gradient(70deg, rgba(158,65,191,0.7) 44%, rgba(0,18,178,0.7) 80%, rgba(4,178,53,0.7) 93%);
    z-index: -2;
}

.alg-card-content{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(5, 1fr);
}

.alg-card-text{
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    height: 100%;

}

.alg-title-row{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: start;
    gap: 0.7rem;
    vertical-align: center;
    margin-bottom: 0.3%;
}

.solver-name{
    font-size: 2.26rem;
    font-style: italic;
    font-weight: 400;
}

.alg-tag{
    font-size: 0.94rem;
    font-weight: 300;
    margin-top: 0.65rem;
}

.alg-content{
    font-size: 1.22rem;
    font-weight: 300;
    overflow: hidden;
    line-height: 1.7rem;
    height: 5.75rem;
    overflow: visible;
    letter-spacing: 0.05rem;
}

.alg-description{
    font-size: 1.89rem;
    font-weight: 300;
    margin-bottom: 0.5%;
}

.owner-name{
    font-size: 1.89rem;
    font-weight: 300;
    margin-bottom: 2.2%;
}

.owner-name a{
    font-weight: 500;
    color: transparent;
    background: linear-gradient(14deg, rgba(253,211,4,1) 9%, rgba(224,37,14,1) 33%, rgba(186,12,193,1) 64%, rgba(173,4,253,1) 88%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0.85;
}

.info-line{
    color: #d9d9d9;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 6rem;
    margin-top: 1%;
    width: 85%;
    font-size: 1.31em;
}

.heart-info, .saved-info{
    cursor: pointer;
    opacity: 0.7;
}

.heart-info:hover, .saved-info:hover{
    opacity: 1;
}

.alg-card-cube{
    grid-area: 1 / 4 / 2 / 6;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.alg-cube{
    margin-top: 2.5%;
    width: 55%;
}

canvas{
    width: 100% !important;
    height: 100% !important;
}

.cube-controls{
    position: relative;
    z-index: 0;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
    background: linear-gradient(70deg, rgba(158,65,191,1) 44%, rgba(0,18,178,1) 80%, rgba(4,178,53,1) 93%);
    padding: 0.4rem 2.6rem;
    border-radius: 2rem;
    color: #d9d9d9;
    opacity: 0.9;

    -webkit-box-shadow: -2px -1px 12.83px 0px rgba(255, 255, 255, 0.19),
                        -3.01px -1px 4.01px 0px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: -2px -1px 12.83px 0px rgba(255, 255, 255, 0.19),
                    -3.01px -1px 4.01px 0px rgba(255, 255, 255, 0.25);
    box-shadow: -2px -1px 12.83px 0px rgba(255, 255, 255, 0.19),
                -3.01px -1px 4.01px 0px rgba(255, 255, 255, 0.25);

}

.cube-controls .fa-pause{
    font-size: 1.3em;
}

.cube-controls i{
    cursor: pointer;
}

.cube-controls i:hover{
    color:#ffffff;

}

.cube-controls::after{
    content: "";
    position: absolute;
    display: block;
    border-radius: 2rem;
    opacity: 1;

    height: 95%;
    width: 99%;
    
    background: linear-gradient(30deg, rgb(9, 9, 9) 0%, rgb(13, 13, 13) 82%);
    /* background: black; */
    z-index: -1;
}

.move{
    display: inline-block;
    overflow:visible;

}

.current-move{
    text-shadow: calc(1.5 * -0.06ex) 0 0 var(--text1),
                               calc(1.5 * 0.06ex) 0 0 var(--text1); 
    position: relative;
    transform: scale(1.15);

    transition: transform 0.05s, text-shadow 0.05s;
}
