body{
    background: no-repeat 0% 0% / cover url("/static/algorithms/backgrounds/explore-bg-gradient.svg");
}

#explore-bg-lines{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    background: no-repeat 0% 0% / cover url("/static/backgrounds/bg-lines.svg");
}

#content{
    height: 100%;
    width: 100%;
    min-width: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;


    color: var(--text1);
}

#explore-title{
    font-weight: 300;
    font-size: 3.2rem;
    width: 90%;
    text-align: left;
    letter-spacing: 0.4rem;
    margin-top: 0;
    margin-bottom: 1%;
}

.alg-card{
    position: relative;
    
    width: 90%; 
    height: 38%;
    background: linear-gradient(121deg, rgba(80,80,80,1) 0%, rgba(48,48,48,1) 34%, rgba(24,24,24,1) 69%, rgba(8,8,8,1) 86%);
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5%;
    
}

.alg-card::after{
    content: "";
    position: absolute;
    display: block;
    border-radius: 2rem;

    height: 102.5%;
    width: 100.3%;
    
    background: linear-gradient(70deg, rgba(158,65,191,0.7) 44%, rgba(0,18,178,0.7) 80%, rgba(4,178,53,0.7) 93%);
    z-index: -1;
}