body{
    background: no-repeat 0% 0% / cover url("/static/algorithms/backgrounds/home_login-gradient.svg");
}

#home-login-lines{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    background: no-repeat 0% 0% / cover url("/static/backgrounds/bg-lines.svg");
}

#content{
    margin-top: 2%;
    height: 92%;
    width: 100%;
    min-width: 0;
    color: var(--text1);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;
}

.home-row{
    width: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5%;
}

#home-row-1{
    height: 40%;
}

#home-row-2{
    height: 60%;
}

.home-card{
    position: relative;
    height: 95%;
    /* border: 1px solid blue; */
    border-radius: 0.9rem;
    padding: 0.65% 1.5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home-card::after{
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 0.2rem;
    border-radius: 1.1rem;
}

.home-card-content{
    width: 100%;
    height: 100%;
}

#home-profile-card{
    width: 25%;
    background: linear-gradient(180deg, rgba(70,58,208,0.35) 0%, rgba(86,86,194,0.35) 11%, rgba(101,114,180,0.35) 34%, rgba(94,116,190,0.35) 50%, rgba(87,119,202,0.35) 70%, rgba(59,76,120,0.35) 86%, rgba(35,35,35,0.35) 100%);
}

#home-profile-card::after{
    background: linear-gradient(180deg, rgba(70,58,208,0.4) 0%, rgba(86,86,194,0.4) 11%, rgba(101,114,180,0.4) 34%, rgba(94,116,190,0.4) 50%, rgba(87,119,202,0.4) 70%, rgba(59,76,120,0.4) 86%, rgba(35,35,35,0.4) 100%);
}

#home-profile-card .home-card-title{
    text-align: center;
}

#home-profile-card-picture{
    padding-top: 26%;
    height: 0;
    width: 26%;
    position: relative;
}

#home-profile-card-picture img{
    border-radius: 100%;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

#profile-info{
    margin-top: 9.5%;
    display: flex;
    gap: 7%;
    justify-content: center;
    position: relative;

}

#username{
    font-weight: 300;
    font-size: 1.35rem;
    opacity: 0.85;
    position: relative;
    top: 0.85rem;
}

#home-solves-card{
    width: 50%;
    background: linear-gradient(180deg, rgba(4,178,53,0.15) 0%, rgba(35,35,35,0.3) 100%);
}

#home-solves-card::after{
    background: linear-gradient(180deg, rgba(4,178,53,0.18) 0%, rgba(35,35,35,0.35) 100%);
}

.no-solves-text{
    text-align: center;
    font-weight: 400;
    opacity: 0.75;
    font-size: 1em;
    margin-top: 6%;
}

.home-my-solves{
    margin-top: 2.6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65%;
}

.home-my-solve{
    position: relative;
    width: 35%; 
    height: 100%;
    padding: 0.6% 1.5%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home-my-solve::after{
    content: "";
    position: absolute;
    display: block;
    border-radius: 1.35rem;

    height: 100%;
    width: 100%;
    padding: 0.6%;
    
    background: linear-gradient(70deg, rgba(158,65,191,0.7) 44%, rgba(0,18,178,0.7) 80%, rgba(4,178,53,0.7) 93%);
    z-index: -1;

    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

#home-saved-card{
    width: 25%;
    background: linear-gradient(180deg, rgba(128,54,40,0.18) 0%, rgba(130,67,40,0.18) 50%, rgba(35,35,35,0.18) 100%);
}

#home-saved-card::after{
    background: linear-gradient(180deg, rgba(128,54,40,0.21) 0%, rgba(130,67,40,0.21) 50%, rgba(35,35,35,0.21) 100%);
}

#home-generate-card{
    width: 30%;
    background: linear-gradient(180deg, rgba(155,143,106,0.15) 0%, rgba(128,117,85,0.15) 34%, rgba(61,59,50,0.15) 84%, rgba(30,30,30,0.15) 100%);
}

#home-generate-card::after{
    background: linear-gradient(180deg, rgba(155,143,106,0.18) 0%, rgba(128,117,85,0.18) 34%, rgba(61,59,50,0.18) 84%, rgba(30,30,30,0.18) 100%);
}

#generate-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8.5%;
}

#home-generate-card img{
    width: 40%;
    opacity: 0.8;
}

#home-generate-card .home-card-title{
    text-align: center;
}

#home-trending-card{
    width: 70%;
    background: linear-gradient(180deg, rgba(114,54,165,0.22) 0%, rgba(94,56,129,0.22) 48%, rgba(70,58,87,0.22) 81%, rgba(35,35,35,0.22) 100%);
}

#home-trending-card::after{
    background: linear-gradient(180deg, rgba(114,54,165,0.26) 0%, rgba(94,56,129,0.26) 48%, rgba(70,58,87,0.26) 81%, rgba(35,35,35,0.26) 100%);
}

.home-card-title{
    font-size: 2.25rem;
    font-weight: 400;
    opacity: 0.88;
}