body {
    background: no-repeat 0% 0% / cover url("/static/algorithms/backgrounds/home-bg.svg");
    overflow-x: hidden;
}

#content{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;

    color: var(--text1);
}

#slider-controls-container{
    width: 100%;
    height: 7%;
    
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#home-slider{
    width: 500%;
    height: 93%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    position: relative;
    left: 205%;
}

#slider-controls{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    width: 10rem;
    margin-right: 8%;

    font-size: 0.7rem;
}

#slider-controls .fa-circle{
    opacity: 0.59;
}

#slider-controls .right-arrow{
    margin-left: auto;
}

#slider-controls .left-arrow{
    margin-right: auto;
    transform: rotate(180deg);
    visibility: hidden;
}

#slider-controls .left-arrow-visible{
    visibility: visible;
}

#slider-controls .right-arrow-invisible{
    visibility: hidden;
}

.dots{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-left: 5%;
    margin-right: 5%;
}

.slide{
    width: 18%;
    height: 100%;
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide1-content{
    width: 100%;
    height: 93%;
    margin-bottom: 7%;
    margin-right: 17%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 27%;
}

.slide1 p{
    font-weight: 100;
    font-size: 4.2rem;
}

.slide1 p span{
    font-weight: 700;
}

.slide1 img{
    width: 28%;
    filter: drop-shadow(0 4px 246.1px rgba(135, 143, 39, 0.35));
}

.slide1-active{
    transform: translate(0%);
    transition: transform 0.5s ease-in-out;
}

.slide2-active{
    transform: translate(-18%);
    transition: transform 0.5s ease-in-out;
}

.slide3-active{
    transform: translate(-36%);
    transition: transform 0.5s ease-in-out;
}

.slide4-active{
    transform: translate(-54%);
    transition: transform 0.5s ease-in-out;
}

.slide5-active{
    transform: translate(-72%);
    transition: transform 0.5s ease-in-out;
}

.slide2-content{
    
}