@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#main-content{
    
}

.searchbar-card{
    width: 97%;
    /* border: 0.2em solid var(--extra1); */
    position: sticky;
    top: 0.5em;
    margin-left: 1.5%;
    margin-top: 0.5em;

    padding: 0.5em;
    border-radius: 0.5em;
    /* background: var(--secondary-color); */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    /* border: 2px solid green; */

    width: 100%;
    height: 100%;

}

.searchbar-input{
    font-size: 0.9em;
    color: var(--extra1);
    
    height: 2.8em;
    width: 100%;

    border-radius: 0.8em;
    background: var(--text1);
    border: 0.15em solid var(--third);

    text-align: center;
    
}

.searchbar-input:focus{
    outline: none;
    filter: brightness(101%);
    border: 0.2em solid var(--third);
}

.searchbar-button{
    padding: 0.35em;
    border-radius: 0.8em;
}

#myalgs-list{
    height: 10%;
    margin-top: 1%;
}
.alg-card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 1.2%;
}

.my-alg-card{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 98%;
    height: 7em;
    border: 0.2em solid var(--third);
    border-radius: 0.6em;

    padding: 0.3em;
    background-color: var(--text1);
}

.my-alg-card:hover{
    filter: brightness(102%);
    cursor: pointer;
}

.my-alg-card .left{
    width: 85%;
}

.my-alg-card .name-area{
    width: 100%;
}

.my-alg-card .name-area h3{
    padding: 0.1em;
    margin-left: 1%;
}

.my-alg-card hr{
    margin-bottom: 0.5em;
    margin-top: 0.4em;
    width: 40%;
    margin-left: 3%;
}

.my-alg-card .text-area{
    flex: 1;
    margin-left: 5%;
    
}
.my-alg-card .text-area h5{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.4em;
}


.my-alg-card .picture-area{
    margin-left: auto;
    width: 15%;

    display: flex;
    justify-content: left;
    align-items: center;
}

.my-alg-card .picture-area img{
    margin: auto;
    
    width: 5.4em;
    height: 5.4em;
}

.page-controls-container{
    position: sticky;
    top: 93%;
    width: 50%;
    margin-left: 25%;
}

.page-controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.85em;

    list-style-type: none;
}