:root {
    --primary-color: #B8B8F3;
    --primary-variant: #D7B8F3;
    --secondary-color: #F397D6;
    --on-primary: #232E21; /* or black maybe? */
    --background: #efefef;
}

[data-theme="dark"] {
    --primary-color: #4A4A80;
    --primary-variant: #644A80;
    --secondary-color: #8A5A7A;
    --on-primary: #E3F1DF;
    --background: #303030;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(20, 5%);
}

.navbar-container{
    grid-area: 1 / 1 / 21 / 4;
    background: var(--primary-color);
}

.topcard-container{
    grid-area: 1 / 4 / 4 / 21;
    background: var(--secondary-color);
}

.content-container{
    grid-area: 4 / 4 / 21 / 21;
    background: var(--background);
}

