:root {
    --primary-color: #FBF2ED;
    --secondary-color: #CDD5C6;
    --on-primary: #B7BCBF;
    --extra1: #E8D4C6;
    --extra2: #FFE2C3;
}

[data-theme="dark"] {
    --primary-color: #4A3A37;
    --secondary-color: #616D5E;
    --on-primary: #6A7274;
    --extra1: #735548;
    --extra2: #876349;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(20, 5%);
}

.navbar-container{
    grid-area: 1 / 1 / 21 / 4;
    background: var(--secondary-color);
}

.topcard-container{
    grid-area: 1 / 4 / 3 / 21;
    background: var(--on-primary);
}

.content-container{
    grid-area: 3 / 4 / 21 / 21;
    background: var(--primary-color);
}

