:root {
    --text1: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow-x: hidden; */
    font-family: "Fellix", sans-serif;

    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 100%;
}

#navbar-container{
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
}

#content-container{
    grid-area: 2 / 1 / 10 / 2;
}
