{% extends 'main.html' %}
{% load static %}
{% block includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'algorithms/css/alg.css' %}">
{% endblock includes %}

{% block content %}

<div id="explore-bg-lines"></div>

<div id="content">
    
    <h2 id="explore-title">Explore/</h2>

    
        <div href="{% url 'alg' alg.id %}" class="alg-card" data-id="{{alg.id}}" data-cube-state="{{alg.cube_state}}">
            <div class="alg-card-content">
                <div class="alg-card-text">
                    <div class="alg-title-row">
                        <h3 class="solver-name">{{alg.solver}}</h3>
                        {% for tag in alg.tags.all|slice:":3" %}
                            <h5 class="alg-tag">#{{tag}}</h5>
                        {% endfor %}
                    </div>
                    
                    <h4 class="owner-name">added by <a href="">{{alg.owner.username}}</a></h4>
                    <h4 class="alg-description">{{alg.description}}</h4>
                    <div class="alg-content">
                        {{alg.scramble}} <br>
                        {{alg.content|linebreaksbr}}
                        {% comment %} {{alg.content|truncatechars:140|linebreaksbr}} {% endcomment %}
                    </div>
                </div>

                <div class="alg-card-cube">
                    <div class="info-line">
                        {% if not request.user.is_authenticated %}
                            <a href="{% url 'login' %}">
                            <div class="heart-info" data-hearted="0">
                                <i class="fa-regular fa-heart"></i>
                                <span>{{alg.heart_count}}</span>
                            </div>
                        </a>
                        {% elif request.user.profile not in alg.users_hearts.all %}
                            <div class="heart-info" data-hearted="0">
                                <i class="fa-regular fa-heart"></i>
                                <span>{{alg.heart_count}}</span>
                            </div>
                        {% else %}
                            <div class="heart-info" data-hearted="1">
                                <i class="fa-solid fa-heart"></i>
                                <span>{{alg.heart_count}}</span>
                            </div>
                        {% endif %}
                        
                        {% if not request.user.is_authenticated %}    
                        <a href="{% url 'login' %}">
                        <div class="saved-info" data-saved="0">
                            <i class="fa-regular fa-bookmark"></i>
                            <span>{{alg.saved_count}}</span>
                        </div>
                    </a>
                        {% elif request.user.profile not in alg.users_saved.all %}
                        <div class="saved-info" data-saved="0">
                            <i class="fa-regular fa-bookmark"></i>
                            <span>{{alg.saved_count}}</span>
                        </div>
                        {% else %}
                        <div class="saved-info" data-saved="1">
                            <i class="fa-solid fa-bookmark"></i>
                            <span>{{alg.saved_count}}</span>
                        
                        </div>
                        {% endif %}
    
                        
                    </div>
                    
                    <div class="alg-cube">

                    </div>

                    <div class="cube-controls">
                        <i class="fa-solid fa-rotate-left playBack"></i>
                        <i class="fa-solid fa-play back" style="transform: scaleX(-1); -webkit-transform: scaleX(-1);"></i>
                        <i class="fa-solid fa-pause pause"></i>
                        <i class="fa-solid fa-play forward"></i>
                        <i class="fa-solid fa-forward play"></i>
                    </div>
                </div>
            
            </div>
        </div>
        
    
</div>

{% endblock content %}

{% block scripts %}
{% if request.user.is_authenticated %}
    <script src="{% static 'algorithms/js/explore.js' %}"></script>
{% endif %}
    <script>const algContent = "{{alg.content|escapejs}}";</script>
    <script src="{% static 'algorithms/js/cube3d-bundle.js' %}"></script>
{% endblock scripts %}



