{% extends 'main.html' %}
{% load static %}
{% block includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'algorithms/css/explore.css' %}">
{% endblock includes %}

{% block content %}

<div id="explore-bg-lines"></div>

<div id="content">
    
    <h2 id="explore-title">Explore/<span>{{curr_page}}</span></h2>

    {% for alg in algs %}
        <a href="{% url 'alg' alg.id %}" class="alg-card" data-id="{{alg.id}}">
            <div class="alg-card-content">
                <div class="alg-card-text">
                    <div class="alg-title-row">
                        <h3 class="solver-name">{{alg.solver}}</h3>
                        {% for tag in alg.tags.all|slice:":3" %}
                            <h5 class="alg-tag">#{{tag}}</h5>
                        {% endfor %}
                    </div>
                    
                    <h4 class="alg-description">{{alg.description}}</h4>
                    <div class="alg-content">
                        {{alg.scramble}} <br>
                        {{alg.content|linebreaksbr}}
                        {% comment %} {{alg.content|truncatechars:140|linebreaksbr}} {% endcomment %}
                    </div>
                </div>

                <div class="alg-card-views">
                    <div class="info-line">
                        {% if not request.user.is_authenticated %}
                            <div class="heart-info logged-out" data-hearted="0">
                                <i class="fa-regular fa-heart"></i>
                                <span>{{alg.heart_count}}</span>
                            </div>
                        {% elif request.user.profile not in alg.users_hearts.all %}
                            <div class="heart-info" data-hearted="0">
                                <i class="fa-regular fa-heart"></i>
                                <span>{{alg.heart_count}}</span>
                            </div>
                        {% else %}
                            <div class="heart-info" data-hearted="1">
                                <i class="fa-solid fa-heart"></i>
                                <span>{{alg.heart_count}}</span>
                            </div>
                        {% endif %}
                        
                        {% if not request.user.is_authenticated %}    
                        
                        <div  class="saved-info logged-out" data-saved="0">
                            <i class="fa-regular fa-bookmark"></i>
                            <span>{{alg.saved_count}}</span>
                        </div>
                    
                        {% elif request.user.profile not in alg.users_saved.all %}
                        <div class="saved-info" data-saved="0">
                            <i class="fa-regular fa-bookmark"></i>
                            <span>{{alg.saved_count}}</span>
                        </div>
                        {% else %}
                        <div class="saved-info" data-saved="1">
                            <i class="fa-solid fa-bookmark"></i>
                            <span>{{alg.saved_count}}</span>
                        
                        </div>
                        {% endif %}
    
                        
                    </div>
                    
                </div>

                <div class="alg-card-cube">
                    <img class="alg-cube" src="{{alg.image.url}}" alt="">
                </div>
            
            </div>
        </a>
        
    {% endfor %}



    {% include 'algorithms/page-controls.html' with custom_range=custom_range curr_queries=curr_queries curr_page=curr_page %}
    
</div>

{% endblock content %}

{% block scripts %}
{% if request.user.is_authenticated %}
    <script src="{% static 'algorithms/js/explore.js' %}"></script>
{% else %}
    <script>
        const heartBtns = document.querySelectorAll('.heart-info');
        const savedBtns = document.querySelectorAll('.saved-info');

        const requestBtns = [...heartBtns, ...savedBtns];

        requestBtns.forEach((el) => {
            el.addEventListener('click', (e) => {
                e.preventDefault();
                e.stopPropagation();
                window.location = "{% url 'login' %}";
            });
        });
    </script>
{% endif %}
<script src="{% static 'algorithms/js/fit-alg-lines.js' %}"></script>
{% endblock scripts %}



