{% extends 'main.html' %}
{% load static %}
{% block includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'algorithms/css/home.css' %}">
{% endblock includes %}

{% block content %}

<div id="home-bg">

</div>

<div id="content">
    <div id="slider-controls-container">
        <div id="slider-controls">
            <img class="left-arrow" src="{% static 'algorithms/img/home-arrow.svg' %}" alt="">
            <div class="dots">
                <i class="fa-solid fa-circle" data-dot="1"></i>
                <i class="fa-regular fa-circle" data-dot="2"></i>
                <i class="fa-regular fa-circle" data-dot="3"></i>
                <i class="fa-regular fa-circle" data-dot="4"></i>
                <i class="fa-regular fa-circle" data-dot="5"></i>
            </div>
            
            <img class="right-arrow" src="{% static 'algorithms/img/home-arrow.svg' %}" alt="">
        </div>
    </div>
    
    <div id="home-bg-slider">
        <div id="slide1-bg">
                
        </div>

        <div id="slide2-bg">
                
        </div>

        <div id="slide3-bg">
                
        </div>

        <div id="slide4-bg">
                
        </div>

        <div id="slide5-bg">
                
        </div>
    </div>

    <div id="home-slider" data-curr-slide="1">
        
        
        <div class="slide slide1">
            
            
            <div class="slide1-content">
                <p>
                    /Explore <br>
                    Rubik's Cube <br>
                    <span>Solves</span>
                </p>

                <img src="{% static 'algorithms/img/home-cube.svg' %}" alt="Colorful Rubik's Cube Logo">
            </div>
            
            
        </div>
    
        <div class="slide slide2">
            <div class="slide2-content">
                <img src="{% static 'algorithms/img/home-card1.svg' %}" alt="" class="home-card">
                
                <h2>Trending Solves</h2>
                <p>Our platform offers access to trending reconstructions shared by the community, perfect for both beginners and speedcubers.</p>
            </div>
        </div>
    
        <div class="slide slide3">
            <div class="slide3-content">
                <h2>Daily generator</h2>
                <p>Our platform provides new reconstructions every day, offering you a constant stream of innovative solutions to explore.</p>
                
                <img src="{% static 'algorithms/img/home-card2.svg' %}" alt="" class="home-card">
            </div>
        </div>
    
        <div class="slide slide4">
            <div class="slide4-content">
                <img src="{% static 'algorithms/img/home-card3.svg' %}" alt="" class="home-card">
                
                <h2>Solves History & Saving</h2>
                <p>Our platform offers access to trending reconstructions shared by the community, perfect for both beginners and speedcubers.</p>
            </div>
        </div>

        <div class="slide slide5">
            <div class="slide5-content">
                <form id="register-form" action="" method="POST" autocomplete="off">
                    <h2 class="login-register-title">join us</h2>
                    {% csrf_token %}
                    
                    <div class="form-line">
                        {{form.first_name}}
                        {{form.last_name}}
                    </div>
                    <div class="form-line">
                        {{form.username}}
                    </div>
                    <div class="form-line">
                        {{form.email}}
                    </div>
                    <div class="form-line">
                        {{form.password1}}
                        {{form.password2}}
                    </div>
                    <div id="have-account-text" class="form-line">
                    <span><a href="{% url 'login' %}">i have an account</a></span>
                    </div>
                    <div class="form-line">
                        <button id="submit-button" type="submit">Get Started</button>
                    </div>
                </form>
            </div>
        </div>
    
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'algorithms/js/home.js' %}"></script>
{% if form.errors or request.GET.load_register %}
<script src="{% static 'algorithms/js/load-register.js' %}"></script>
{% endif %}

{% endblock scripts %}

