{% extends 'main.html' %}
{% load static %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="{% static 'algorithms/css/my_algs.css' %}">
{% endblock includes %}

{% block content %}
<div class="searchbar-container">
    <form action="{% url 'my-algs' %}" method="GET" id="search-form">
        <input type="text" name="search_query" class="searchbar-input">

        <input type="submit" value="Search">
    </form>
    
</div>

<div id="algs-list">
    {% for alg in algs %}
        <div class="alg-card">
            {{alg.name}}:
            {{alg.content}}
        </div>
    {% endfor %}
    
</div>

<div class="page-controls">
    <ul>
        {% for number in custom_range %}
            <li><a href="?page={{number}}{{curr_url}}">{{number}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}