{% extends 'main.html' %}
{% load static %}
{% block includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'algorithms/css/my_algs.css' %}">
{% endblock includes %}

{% block content %}
<div id="myalgs-content">
    {% include 'algorithms/searchbar.html' with curr_url=curr_url search_query=search_query %}
    
    <div id="myalgs-list">
        {% for alg in algs %}
            <div class="my-alg-card">
                {{alg.name}}:
                {{alg.content}}
            </div>
        {% endfor %}

        
    </div>
    
    {% include 'algorithms/page-controls.html' with custom_range=custom_range curr_queries=curr_queries %}
</div>
{% endblock content %}