{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/topcard.css' %}">

    <link rel="icon" type="image/png" href="{% static 'favicon/favicon.png' %}">

    <link href="{% static 'font/stylesheet.css' %}" rel ="stylesheet" type ="text/css"/>

    {% block includes %}

    {% endblock includes %}

    <title>Alg Explorer</title>
</head>
<body data-theme="light">
    
    {% include 'navbar.html' %}
    
    

   


    <script src="https://kit.fontawesome.com/27d2a5390a.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}" type="module"></script>
</body>
</html>